<h2>Username: <span>@TroyEricG</span></h2>
<div id="tweet-stats">
	<ul>
		<li class="num_tweets">Tweets: <span>4,218</span></li>
		<li class="following">Following: <span>313</span></li>
		<li class="followers">Followers: <span>712</span></li>
	</ul>
</div>
<div class="tweet-container group">
	<div class="avatar"></div>
	<div class="tweet-body">
		<p>Limp outside to get a bagel and a tea. Man in front complains the line moves too fast. Sir, I can assure you that no one behind you agrees.</p>
	</div>
	<div class="tweet-tools">
		<ul>
			<li class="timestamp">11:29 A.M.</li>
			<li class="retweets"><span>20</span>RETWEETS</li>
			<li class="favorites"><span>7</span>FAVORITES</li>
		</ul>
	</div>
</div>
