<div class="tweet-container group">
	<div class="avatar" style="background:url(<%= status.img_url %>); background-size:cover;"></div>
	<div class="tweet-body">
		<p><%= @status.tweet_text %></p>
	</div>
	<div class="tweet-tools">
		<ul>
			<li class="timestamp">11:29 A.M.</li>
			<li class="retweets"><span><%= @status.retweet_count %></span><br/>RETWEETS</li>
		</ul>
	</div>
</div>